<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.environmentalcampaign">
    <!-- 카메라 권한 허용 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".KakaoCustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.EnvironmentalCampaign">
        <activity android:name=".SubLoginActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParticipantList" />
        <activity
            android:name=".certification_page.PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity android:name=".certification_page.CertificationCampaign" />
        <activity android:name=".set_up_page.setup3" />
        <activity android:name=".set_up_page.setup2" />
        <activity android:name=".feed.FeedImageDetailPage" />
        <activity android:name=".set_up_page.setup1" />
        <activity android:name=".certification_page.Second_Certification_Page" />
        <activity android:name=".CpMakelist" />
        <activity android:name=".mypage.CampaignSituation" />
        <activity android:name=".cp_info.CampaignInformation" />
        <activity android:name=".pointmarket.PointMarket" />
        <activity android:name=".mypage.MyPage" />
        <activity android:name=".feed.FeedPage" />
        <activity android:name=".certification_page.CertificationPage" />
        <activity android:name=".bookmark.BookMark" />
        <activity android:name=".home.HomeActivity">

        </activity>
        <activity android:name=".search_page.SearchPage" />
        <activity android:name=".set_up_page.SetUpCampaignPage" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.environmentalcampaign"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 카카오 로그인 연동 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5e8a9f5c25566616ccdccb53b555964a" />
    </application>

</manifest>